body {
  background: #231f20;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: "Oswald";
  font-size: 20px;
  font-weight: 700;
  position: relative;
  margin: 30px auto;
  text-transform: uppercase;
  width: 550px;
}

h1::before {
  content: " ";
  background: #4a90e2;
  position: absolute;
  left: 60px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 200px 0px 0px 200px;
}

h1::after {
  content: " ";
  background: #4a90e2;
  display: inline-block;
  position: absolute;
  left: 470px;
  width: 20px;
  height: 20px;
  border-radius: 0px 200px 200px 0px;
}
